/* styles.css */

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0f0f0f;
    color: #00ff00;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Changed from center to flex-start */
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */
    overflow-y: auto; /* Allow vertical scrolling */
    background-image: url('image1.jpeg');
    background-size: cover;
}

.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 0 60px #00ff00;
    border-radius: 8px;
    animation: fadeIn 1s ease-in-out;
    margin-top: 20px; /* Add some top margin for better appearance */
}

h2, h3 {
    text-shadow: 0 0 10px #00ff00;
    text-align: center;
}

input, select, button {
    width: 98%;
    padding: 10px;
    margin: 10px 0;
    background: transparent;
    border: 2px solid #00ff00;
    color: #00ff00;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px #00ff00;
}

input:focus, select:focus, button:hover {
    background: #00ff00;
    color: #0f0f0f;
    box-shadow: 0 0 20px #00ff00;
}

button {
    cursor: pointer;
    width: 100%;
}

#notes ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#notes li {
    background: #1f1f1f;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #00ff00;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

#notes li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00ff00;
}

#notes li .note-content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

#notes li .note-content span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#notes li strong {
    color: #1eff00;
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

#notes li button {
    padding: 5px;
    font-size: 12px;
    margin-left: 5px;
}

#notes li .edit {
    background-color: #007bff;
    color: #fff;
    border: none;
}

#notes li .delete {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Media Queries */

/* Tablet */
@media screen and (min-width: 600px) {
    .container {
        padding: 30px;
    }
}

/* Laptop */
@media screen and (min-width: 992px) {
    .container {
        max-width: 800px;
    }
}

/* Larger devices */
@media screen and (min-width: 1200px) {
    .container {
        max-width: 1000px;
    }
}
